<form action="/" method="post">
  <div class="display-4 text-center m-5">
    <span>URL Shortener</span>
  </div>
  <div class="">
    <img src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png" 
         class="rounded mx-auto d-block"
         style="width: 200px;">
  </div>
  <div class="col-3 mx-auto">
    <input class="form-control mt-3" type="url" placeholder="URL" name="url" required>
    <div class="col-3 mx-auto">
      <button class="btn btn-success mt-3" type="submit">Create</button>
    </div>
  </div>
</form>