<form method="post">
  <div class="display-4 text-center m-5">
    <span>URL Shortener</span>
  </div>

  <div>
    <img src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png"
      class="rounded mx-auto d-block" style="width: 200px;">
  </div>

  <div class="display-6 text-center m-5">
    <span>Success! Please use this link:</span>
  </div>

  <div class="col-3 mx-auto">
    {{#if shortUrl}}
    <div class="d-flex justify-content-center display-6 m-2">
      <a class="generatedUrl" id="shortUrl" href="{{ Url }}">{{ shortUrl }}</a>
    </div>
    {{/if}}
    <div class="d-flex justify-content-center m-2">
      <button onclick="copy()" class="btn btn-success mx-1" id="copyBtn">Copy</button>
      <a href="/">
        <button class="btn btn-warning mx-1" type="button">Back</button>
      </a>
    </div>
    <script>
      function copy() {
        const shortUrl = document.getElementById('copyBtn')
        let url = document.getElementById('shortUrl').innerHTML
        navigator.clipboard.writeText(url)
          .then(() => { console.log('Url copied to clipboard!',url) })
          .catch(error => console.log(error))
          alert('copied')
      }
    </script>
  </div>

</form>